body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

a:hover {
  opacity: 0.7;
}

.nav-bar {
  background-color: #1a1a2e;
  width: 100%;
  position: fixed;
  padding-bottom: 90px;
  text-align: right;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
}

.dp-icon {
  position: absolute;
  top: 25px;
  left: 50px;
  width: 60px;
  height: 60px;
}


.nav-links {
  position: relative;
  display: inline-block;
  top: 50px;
  right: 75px;
}

.nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #f6f6f6;
}


.top-container {
  padding: 100px 25px 10px;
  background-color: #1a1a2e;
  line-height: 2;
}


h1 {
  margin: 25px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: white;
}

h2 {
  margin: 10px auto 0;
  font-family: 'Syne', sans-serif;
  font-size: 2rem;
  color: #e94560;
}


h3 {
  font-family: 'Syne', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #e94560;
}

h4 {
  font-size: 1.25rem;
  color: #e94560;
  font-weight: bolder;
}

.middle-container {
  padding: 10px;
  text-align: left;
  background-color: #16213e;
}

input {
  font-family: inherit;
}

.contact-form {
  padding: 25px 0 25px;
  font-family: inherit;
  color: #f6f6f6;
}

.ntext {
  width: 500px;
  height: 30px;
  font-size: 20px;
}

.msg {
  width: 700px;
  height: 250px;
  font-size: 20px;
  text-align: left;
}

.sub-btn {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #f6f6f6;
  color: #2b2e4a;
  font-size: 20px;
  width: 150px;
  height: 50px;
}

.sub-btn:hover {
  opacity: 0.7;
}
