/* HTML elements */

body {
  margin: 0;
  font-family: 'Syne', sans-serif;
}

h1 {
  margin: 25px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: white;
}

h2 {
  margin: 10px auto 0;
  font-size: 2rem;
  color: #1a1a2e;
}


h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #900d0d;
}

h4 {
  font-size: 1.25rem;
  color: #cf1b1b;
  font-weight: bolder;
}

p {
  color: #1a1a2e;
  font-size: 1.2rem;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 7px;
  color: #423144;
}

/* OLD NAVBAR

.nav-bar {
  background-color: #1a1a2e;
  width: 100%;
  position: fixed;
  padding-bottom: 90px;
  text-align: right;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
}

/* .nav-links {
  position: relative;
  display: inline-block;
  top: 50px;
  right: 75px;
}

.nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #eeeeee;
} */

/* Pan-page consistent padding (except navbar and main heading) */
.pad {
  padding: 2% 3%;
}

/* Bootstrap Navbar */

.navbar-custom {
  background-color: #1a1a2e;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
  padding: 10px 50px 0;
  text-align: right;
}

.dp-icon {
  width: 60px;
  height: 60px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #eeeeee;
  padding: 10px;
}

/* main heading */

.main-heading {
  padding: 10px 25px 50px;
  background-color: #1a1a2e;
  line-height: 2;
  color: white;
  text-align: center;
}

/* Middle container */

.middle-container {
  line-height: 1.75;
  background-color: #eeeeee;
  text-align: center;
}

.opening-quote {
  /* padding: 25px; */
  text-align: left;
  background-color: #cf1b1b;
}

.opening-quote p {
  color: #eeeeee;
}

.soliloquy {
  text-align: left;
}

.leisure-interests {
  /* padding: 25px; */
  line-height: 1.75;
  text-align: left;
  background-color: #eeeeee;
}

.interest-row {
   padding: 2% 0 5%;
}

.film {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 50px;
  padding-bottom: 10px;
}


.book {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 50px;
  padding-bottom: 10px;
}

.write {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 50px;
  padding-bottom: 10px;
}

.logo {
  width: 20px;
  height: 20px;
}

.foodie {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 50px;
  padding-bottom: 10px;
}

.musik {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 50px;
  padding-bottom: 10px;
}

/* Footer */

.bottom-container {
  background-color: #900d0d;
  text-align: center;
}

.profile-link {
  padding: 15px;
}

.bottom-container a {
  margin-top: 25px;
  padding-top: 25px;
  text-decoration: none;
  color: inherit;
}

.bottom-container a:hover {
  opacity: 0.7;
}

.footer-text {
  font-size: 10px;
  color: #ffdbc5;
}
