body {
  margin: 0;
  font-family: 'Merriweather', serif;
  /* text-align: center; */
}

a:hover {
  opacity: 0.7;
}

/* OLD NAVBAR

.nav-bar {
  background-color: #1a1a2e;
  width: 100%;
  position: fixed;
  padding-bottom: 90px;
  text-align: right;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
}

/* .nav-links {
  position: relative;
  display: inline-block;
  top: 50px;
  right: 75px;
}

.nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #eeeeee;
} */


.navbar-custom {
  background-color: #1a1a2e;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
  padding: 10px 50px 0;
  text-align: right;
}

.dp-icon {
  width: 60px;
  height: 60px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #eeeeee;
  padding: 10px;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 7px;
  color: #423144;
}

.top-container {
  padding: 10px 25px 50px;
  background-color: #1a1a2e;
  line-height: 2;
  color: white;
  text-align: center;
}

p {
  color: #1a1a2e;
  font-size: 18px;
}


h1 {
  margin: 25px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: white;
}

h2 {
  margin: 10px auto 0;
  font-family: 'Syne', sans-serif;
  font-size: 2rem;
  color: #1a1a2e;
}


h3 {
  font-family: 'Syne', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #900d0d;
}

h4 {
  font-size: 1.25rem;
  color: #cf1b1b;
  font-weight: bolder;
}

.middle-container {
  line-height: 1.75;
  background-color: #eeeeee;
  text-align: center;
  padding: 10px;
}

.opening-quote {
  padding: 25px;
  text-align: left;
  background-color: #cf1b1b;
}

.opening-quote p {
  color: #eeeeee;
}

.leisure-interests {
  padding: 25px;
  line-height: 1.75;
  text-align: left;
  background-color: #eeeeee;
}

.leisure-interests p {
  font-size: 20px;
}

.interest-row {
  padding: 25px;
}

.film {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 50px;
  padding-bottom: 10px;
}

.carousel-item {
  padding: 25px;
  margin-bottom: 50px;
}

.poster {
  border-radius: 10px;
  width: 80%;
}

.by-dp {
  border-radius: 50%;
  width: 10%;
}

.book {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 50px;
  padding-bottom: 10px;
}

.write {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 50px;
  padding-bottom: 10px;
  padding-bottom: 10px;
}

.logo {
  width: 20px;
  height: 20px;
}

.btn {
  border-radius: 10px;
  background-color: #f6f6f6;
  color: #2b2e4a;
  font-weight: bold;
  text-decoration: none;
  padding: 10px;
}

.foodie {
  width: 100px;
  height: 100px;
  float: right;
  margin-left: 50px;
  padding-bottom: 10px;
}

.musik {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 50px;
  padding-bottom: 10px;
}

.bottom-container {
  padding: 30px 0 20px;
  background-color: #900d0d;
  text-align: center;
}

.profile-link {
  padding: 25px;
  font-size: 16px;
}

.bottom-container a {
  margin-top: 25px;
  padding-top: 25px;
  text-decoration: none;
  color: inherit;
}

.bottom-container a:visited {
  color: #f6f6f6;
}

.footer-text {
  font-size: 10px;
  color: #ffdbc5;
}
