/* HTML elements */

body {
  margin: 0;
  font-family: 'Syne', sans-serif;
  text-align: center;
}

h1 {
  margin: 25px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  color: white;
}

h2 {
  margin: 10px auto 0;
  font-size: 2rem;
  color: #cf1b1b;
}

h3 {
  font-size: 1.5rem;
  font-weight: bolder;
  color: #900d0d;
}

h4 {
  font-size: 1.25rem;
  color: #eeeeee;
  font-weight: bolder;
}

p {
  color: #423144;
  font-size: 1.1rem;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 7px;
  color: #423144;
}

/* OLD NAVBAR

.nav-bar {
  background-color: #1a1a2e;
  width: 100%;
  position: fixed;
  padding-bottom: 90px;
  text-align: right;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
}

/* .nav-links {
  position: relative;
  display: inline-block;
  top: 50px;
  right: 75px;
}

.nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #eeeeee;
} */

/* Pan-page consistent padding (except navbar and main heading) */
.pad {
  padding: 5% 3%;
}

/* Bootstrap Navbar */

.navbar-custom {
  background-color: #1a1a2e;
  font-size: 20px;
  padding: 10px 50px 0;
  text-align: right;
}

.dp-icon {
  width: 60px;
  height: 60px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #eeeeee;
  padding: 10px;
}


/* Heading - top container */

.top-container {
  padding: 10px 25px 50px;
  background-color: #1a1a2e;
  line-height: 2;
  /* text-align: center; */
}

.subtitle {
  font-weight: normal;
  margin: 0 auto 0;
}

.pro {
  text-decoration: underline;
}

/* Main middle container */

.middle-container {
  background-color: #eeeeee;
  text-align: center;
}

  /* Profile section */

.profile {
  background-color: #cf1b1b;
}

.profile h2{
  color: #eeeeee;
  line-height: 2;
}

.profile h3 {
  color: #1a1a2e;
  line-height: 1.5;
}

.profile h4 {
  color: #ffdbc5;
  line-height: 1.5;
}

.dp {
  width: 250px;
  height: 250px;
}

  /* Skills section */

/* .skill-row {
  width: 50%;
  margin: 50px auto 50px;
  padding: 20px;
  text-align: left;
  line-height: 2;
}

 .dl {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
  float: left;
  margin-right: 25px;
} */

.row {
  padding: 2% 0 2%;
  line-height: 2;
  margin: 2%;
}

.text {
  text-align: left;
}

.image {
  width: 150px;
  height: 150px;
  margin-top: 10%;
  margin-bottom: 10%;
}

  /* Contact section */

.contact-me {
  line-height: 2;
  background-color: #cf1b1b;
}

.contact-me p {
  color: #eeeeee;
}


/* Footer container */

.bottom-container {
  background-color: #900d0d;
  text-align: center;
}

.profile-link {
  padding: 15px;
}

.bottom-container a {
  margin-top: 25px;
  padding-top: 25px;
  text-decoration: none;
  color: inherit;
}

.bottom-container a:hover {
  opacity: 0.7;
}

.footer-text {
  font-size: 10px;
  color: #ffdbc5;
}
