body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

h1 {
  margin: 25px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: #66bfbf;
}

h2 {
  margin: 10px auto 0;
  font-family: 'Syne', sans-serif;
  font-size: 2rem;
  color: #66bfbf;
}

.main-text {
  line-height: 2;
}

.subtitle {
  font-weight: normal;
  margin: 0 auto 0;
}

h3 {
  font-family: 'Syne', sans-serif;
  color: #11999e;
}

p {
  color: #40514e;
}

.pro {
  text-decoration: underline;
}

.nav-bar {
  background-color: #eaf6f6;
  position: relative;
  padding-bottom: 100px;
  text-align: right;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
}

.dp-icon {
  position: absolute;
  top: 25px;
  left: 75px;
  width: 80px;
  height: 80px;
}

.nav-links {
  display: inline-block;
  position: relative;
  top: 50px;
  right: 75px;
}

.nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #66bfbf;
}

.nav-links a:hover {
  color: #11999e;
}

.top-container {
  position: relative;
  padding-top: 50px;
  background-color: #eaf6f6;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 0;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.mountain {
  position: relative;
  top: 4px;
}

.dp {
  width: 200px;
  height: 200px;
}

.images {
  width: 150px;
  height: 150px;
  float: right;
  margin-left: 30px;
}

.dl-img {
  width: 150px;
  height: 150px;
  margin-right: 30px;
  float: left;
}

.profile {
  margin-top: 0;
  padding : 10px;
}

.skills {
  padding-top: 25px;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px;
  text-align: left;
  line-height: 2;
}


hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 7px;
  color: #eaf6f6;
}

.contact-me {
  line-height: 2;
  margin-bottom: 50px;
}

.btn {
  border-radius: 10px;
  color: white;
  font-size: 20px;
  text-decoration: none;
  background-color: #66bfbf;
  padding: 10px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #11999e;
}

.bottom-container {
  padding: 5px 0 5px;
  background-color: #66bfbf;
}

.profile-link {
  padding: 25px;
}

.profile-link:visited {
  color: white;
}

.bottom-container a {
  text-decoration: none;
}

.copyright-txt {
  color: #eaf6f6;
}
