/* HTML elements */

body {
  margin: 0;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 25px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: white;
}

h2 {
  margin: 10px auto 0;
  font-family: 'Syne', sans-serif;
  font-size: 2rem;
  color: #1a1a2e;
  text-decoration: underline;
}


h3 {
  font-family: 'Syne', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #900d0d;
}

h4 {
  font-family: 'Syne', sans-serif;
  font-size: 1.25rem;
  color: #1a1a2e;
  font-weight: bolder;
}

h5 {
  font-family: 'Syne', sans-serif;
  color: #900d0d;
}

p {
  font-size: 1.1rem;
  color: #423144;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 7px;
  color: #423144;
}


/* OLD NAVBAR

.nav-bar {
  background-color: #1a1a2e;
  width: 100%;
  position: fixed;
  padding-bottom: 90px;
  text-align: right;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
}

/* .nav-links {
  position: relative;
  display: inline-block;
  top: 50px;
  right: 75px;
}

.nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #eeeeee;
} */

/* Pan-page consistent padding (except navbar and main heading) */
.pad {
  padding: 2% 3%;
}

/* Bootstrap Navbar */

.navbar-custom {
  background-color: #1a1a2e;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
  padding: 10px 50px 0;
  text-align: right;
}

.dp-icon {
  width: 60px;
  height: 60px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #eeeeee;
  padding: 10px;
}

/* main heading container */

.main-heading {
  padding: 10px 25px 50px;
  background-color: #1a1a2e;
  line-height: 2;
  text-align: center;
}

/* main container */

.main-container {
  text-align: left;
  line-height: 1.5;
  background-color: #eeeeee;
}


/* .sects {
  line-height: 2;
} */

.skills {
  background-color: #cf1b1b;
}

.skills h2 {
  color: #eeeeee;
  line-height: 2;
}

.skills h3 {
  color: #ffdbc5;
}

.projects {
  background-color: #eeeeee;
  text-align: left;
}

.project-row {
  padding: 2% 0 5%;
}

.result {
  width: 95%;
  border-radius: 10px;
}

/* Footer */

.bottom-container {
  background-color: #900d0d;
  text-align: center;
}

.profile-link {
  padding: 15px;
}

.bottom-container a {
  margin-top: 25px;
  padding-top: 25px;
  text-decoration: none;
  color: inherit;
}

.bottom-container a:hover {
  opacity: 0.7;
}

.footer-text {
  font-size: 10px;
  color: #ffdbc5;
}
