body {
  margin: 0;
  font-family: 'Merriweather', serif;
  /* text-align: center; */
}

a:hover {
  opacity: 0.7;
}

/* OLD NAVBAR

.nav-bar {
  background-color: #1a1a2e;
  width: 100%;
  position: fixed;
  padding-bottom: 90px;
  text-align: right;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
}

/* .nav-links {
  position: relative;
  display: inline-block;
  top: 50px;
  right: 75px;
}

.nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #eeeeee;
} */


.navbar-custom {
  background-color: #1a1a2e;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
  padding: 10px 50px 0;
  text-align: right;
}

.dp-icon {
  width: 60px;
  height: 60px;
}

.navbar-custom .navbar-nav .nav-link {
  color: #eeeeee;
  padding: 10px;
}


.top-container {
  padding: 10px 25px 50px;
  background-color: #1a1a2e;
  line-height: 2;
  text-align: center;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 7px;
  color: #423144;
}

h1 {
  margin: 25px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: white;
}

h2 {
  margin: 10px auto 0;
  font-family: 'Syne', sans-serif;
  font-size: 2rem;
  color: #1a1a2e;
  text-decoration: underline;
}


h3 {
  font-family: 'Syne', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #900d0d;
}

h4 {
  font-size: 1.25rem;
  color: #1a1a2e;
  font-weight: bolder;
}

p {
  font-size: 18px;
  color: #423144;
}

.middle-container {
  text-align: left;
  line-height: 1.5;
  background-color: #eeeeee;
}

.edu {
  padding: 25px;
}

.edu h2 {
  line-height: 2;
}

.interests {
  padding: 25px;
  background-color: #cf1b1b;
}

.interests h2 {
  color: #eeeeee;
  line-height: 2;
}

.interests h3 {
  color: #ffdbc5;
}

.projects {
  background-color: #eeeeee;
  padding: 25px;
  text-align: left;
}

.project-row {
  padding: 25px 0 25px;
}

.btn {
  border-radius: 10px;
  background-color: #f6f6f6;
  text-decoration: none;
  color: #1a1a2e;
  font-weight: bold;
  padding: 10px;
}

.result {
  width: 95%;
  border-radius: 10px;
}

.bottom-container {
  padding: 20px 0 20px;
  background-color: #900d0d;
  text-align: center;
}

.profile-link {
  padding: 25px;
  font-size: 16px;
}

.bottom-container a {
  margin-top: 25px;
  padding-top: 25px;
  text-decoration: none;
  color: inherit;
}

.bottom-container a:visited {
  color: #f6f6f6;
}

.footer-text {
  font-size: 10px;
  color: #ffdbc5;
}
