/* background-color: #e84545; */
body {
  margin: 0;
  font-family: 'Merriweather', serif;
  text-align: center;
}

a:hover {
  opacity: 0.7;
}

.nav-bar {
  background-color: #1a1a2e;
  width: 100%;
  position: fixed;
  padding-bottom: 90px;
  text-align: right;
  font-family: 'Syne', sans-serif;
  font-size: 20px;
}

.dp-icon {
  position: absolute;
  top: 25px;
  left: 50px;
  width: 60px;
  height: 60px;
}

.nav-links {
  position: relative;
  display: inline-block;
  top: 50px;
  right: 75px;
}

.nav-links a {
  padding: 10px;
  text-decoration: none;
  color: #f6f6f6;
}

.top-container {
  padding: 100px 25px 20px;
  background-color: #1a1a2e;
  line-height: 2;
}

hr {
  border-style: dotted none none;
  width: 5%;
  border-width: 7px;
  color: #f6f6f6;
}

h1 {
  margin: 25px auto 0;
  font-family: 'Sacramento', cursive;
  font-size: 5rem;
  color: white;
}

h2 {
  margin: 10px auto 0;
  font-family: 'Syne', sans-serif;
  font-size: 2rem;
  color: #e94560;
  text-decoration: underline;
}


h3 {
  font-family: 'Syne', sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #e94560;
}

h4 {
  font-size: 1.25rem;
  color: #e94560;
  font-weight: bolder;
}

p {
  font-size: 18px;
  color: #f6f6f6;
}

.middle-container {
  text-align: left;
  padding: 25px;
  line-height: 1.5;
  background-color: #16213e;
  color: #2b2e4a;
}

.research {
  padding: 25px 0 25px;
}

.projects {
  background-color: #0f3460;
  padding: 25px;
  text-align: left;
}

.project-row {
  padding: 25px 10px 25px;
}


.btn {
  border-radius: 10px;
  background-color: #f6f6f6;
  color: #2b2e4a;
  text-decoration: none;
  padding: 10px;
}

.result {
  width: 50%;
  height: 50%;
  border-radius: 10px;
}

.bottom-container {
  padding: 20px 0 20px;
  background-color: #e94560;
}

.profile-link {
  padding: 25px;
  font-size: 16px;
}

.bottom-container a {
  margin-top: 25px;
  padding-top: 25px;
  text-decoration: none;
  color: white;
}

.bottom-container a:visited {
  color: #f6f6f6;
}

.footer-text {
  font-size: 10px;
}
